/* @tailwind base;
@tailwind components;
@tailwind utilities;
 */

@layer base {
   
    body{
      @apply font-Poppins;
    }
  }

@layer components {
  .btn{
    @apply hover:text-black hover:bg-transparent py-2 px-4 border-2 border-black bg-black text-gray-50 w-max;
  }
  .btn-green {
    @apply text-green-600 bg-white focus:text-white focus:bg-green-600 focus:ring-2 focus:ring-green-600 hover:bg-green-400 hover:text-white
    focus:shadow-lg ;
  }
  .nav-link{
    @apply text-brown-dark text-center font-medium text-xl transition transform duration-300 hover:scale-110 hover:text-gray-600 px-4;
  }
 .hide-scroll::-webkit-scrollbar{
   display:none;
 }
}
@layer utilities {
  .scroll-snap-none {
    scroll-snap-type: none;
  }
  .scroll-snap-x {
    scroll-snap-type: x;
  }
  .scroll-snap-y {
    scroll-snap-type: y;
  }
  .scroll-snap-x-proximity{
    scroll-snap-type: x proximity;
  }
  .scroll-snap-x-mandatory{
    scroll-snap-type: x mandatory;
  }
  .scroll-snap-y-proximity{
    scroll-snap-type: y proximity;
  }
  .scroll-snap-y-mandatory{
    scroll-snap-type: y mandatory;
  }
  .scroll-snap-align-start{
    scroll-snap-align: start;
  }
  .scroll-snap-y-screen{
    scroll-snap-points-y: repeat(100vh);
  }
}